---
layout: archive
permalink: /year-archive/
title: "Blog Posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<div class="blog-archive">
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 class="blog-year">{{ year }}</h2>
    <ul class="blog-list">
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}

  <li class="blog-entry">
    <div class="blog-entry__header">
      <a href="{{ post.url }}" class="blog-entry__title">{{ post.title }}</a>
      <span class="blog-entry__date">{{ post.date | date: "%B %-d, %Y" }}</span>
    </div>
    {% if post.excerpt %}
      <p class="blog-entry__excerpt">{{ post.excerpt | strip_html | truncate: 160 }}</p>
    {% endif %}
    <span class="blog-entry__meta">{{ post.read_time | default: post.content | number_of_words | divided_by: 200 }} min read</span>
  </li>

{% endfor %}
</ul>
</div>
